html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.column {
    width: calc(100% / 6);
    padding: 1rem;
}

.flex {
    display: flex;
}

.bottom {
    align-items: flex-end;
}

.top {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.stretch {
    align-items: stretch;
}

.column.c2 {
    width: 33.333%;
}

.column.c3 {
    width: 50%;
}

.column.c6 {
    width: 100%;
}

.header {
    display: block;
    font-size: 2.75rem;
    font-weight: bolder;
    color: #222;
    text-transform: uppercase;
    line-height: 1.5;
}

.header-medium {
    display: block;
    font-size: 1.75rem;
    margin-left: 1rem;
    color: #222;
}

.header-small {
    display: block;
    font-size: 1.25rem;
    margin-left: 1rem;
    font-style: italic;
    font-weight: bolder;
    color: #444;
}

.paragraph-title {
    display: block;
    font-size: 1.75rem;
    font-weight: bolder;
    margin-top: 1rem;
}

.note {
    width: 100%;
    margin: 1rem 0;
    background-color: #fff6ce;
    padding: 1rem;
    border-left: 12px solid #ffec99;
}

.button {
    background-color: #124366;
    color: #fff;
    display: inline-block;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #2279b7;
}

.button a {
    color: #fff;
}

.button a:hover {
    color: #ccc;
}

.textinput {
    outline: none;
    border: none;
    border-bottom: 2px solid #124366;
    padding: 0.25rem 1rem;
}

.textinput:hover {
    color: #124366;
    border-bottom: 2px dotted #124366;
}

.monospan {
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    padding: .5rem 1rem;
    color: #444;
    background-color: #fafafa;
}

.monospan.dark {
    background-color: #444;
    color: #fff;
}

.sub {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 1rem;
}

.line {
    width: 100%;
    margin: .5rem;
    border-bottom: 3px solid #aaa;
}
